*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: 'M PLUS 1p', sans-serif;
}

#header-inner{
    margin: 0 auto;
    text-align: center;
    width: 600px;
    /* border: 1px solid black; */
    height: 100%;
}

header, main, footer{
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

#header-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

h1{ 
    font-size: 26px;
}

#meun-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

#meun{
    display: flex;
    justify-content: center;

}

ul{
    width: 300px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    list-style-type: none;
}

#meun-item:hover{
    background-color: rgba(0, 0, 0, 0.922);
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#meun-item{
    padding: 14px;
    font-size: 14px;
    border: 0.1px solid black;
    border-radius: 5px;
    width: 40px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#main-inner{
    margin: 0 auto;
    text-align: center;
    width: 600px;
    /* border: 1px solid black; */
    height: 100%;
    border-top: 1px solid black;
}

#main-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    font-weight: 300;
    font-size: 24px;
}

article{
    background-color: inherit;
    margin: 20px 0;
    padding: 20px;
    display: grid;
    color: inherit;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    border: 1px solid gray;    
    border-radius: 5px;
}

section a{
    width: 100%;
    height: 100%;
}

h3{
    color: inherit;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
}

#post #info { /*test*/
    display: none;   
    position: relative;
    top: 12px;
    left: 28px;;
    font-size: 12px;
    color: black;
    font-weight: 400;
}

footer{
    align-items: center;
    margin: 0;
    position: relative;
    height: 100px;
    bottom: 0px;
    font-weight: 300;
}